{% extends "base.html" %}
{% block title %}Delete{% endblock %}
{% block menu %}
    <li><a href="{% url "book_delete" book.pk %}">View</a></li>
{% endblock %}
{% block content %}
    <h1>Are you sure want to delete book "{{ book }}"?</h1>
    <form method="POST" action="{% url "book_delete" book.pk %}" class="text-center">
        {% csrf_token %}
        <p><input type="submit" value="Yes"></p>
        <p><a href="{% url "book_delete" book.pk %}"><input type="submit" value="No"></a></p>
    </form>

{% endblock %}