{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tasks</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <h1>My First TASKS!</h1>
    {% for book in books %}
        <h4>{{ book.name_author }}. {{ book.email }}</h4>
        <div>{{ book.text }}</div>
    {% endfor %}
    <p><a href="/books/add/">Добавить Задачу</a></p>
</div>
</body>
</html>